<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Wednesday Task
  </h1>
   
<nav>
	<a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/donate">Donate</a>
  <a routerLink="/sign-up">Sign Up</a>
    <a routerLink="/components">Components</a>
</nav>
<router-outlet></router-outlet>

  <div style = "text-align: left">
	<h2> Username: </h2> 
	 <input type="text" placeholder="Enter Username" name="uname" required>

	<h2> Password: </h2> 
	<div class = "ng-hide">
	<input type="password" placeholder="Enter Password" name="psw" required>
	</div>
	<div class="clearfix">
 
      <button type="submit" class="signupbtn">Login</button>
	</div>
	</div>

	

  <img src= "assets/jonathan.jpg" alt = "jonathan" width = "380" height = "600">
    <img src= "assets/jonathan.jpg" alt = "jonathan" width = "380" height = "600">
		<img src= "assets/jonathan.jpg" alt = "jonathan" width = "380" height = "600">
		<img src= "assets/jonathan.jpg" alt = "jonathan" width = "380" height = "600">
  <h2><marquee>
	Jonathan is Homeless please donate to support the fund
	</marquee></h2>
	




<router-outlet></router-outlet>
	